<div class="container">
  <div class="text-center">
    <div>
      <% if @profile.profile_picture.present? %>
        <%=  cl_image_tag(@profile.profile_picture.key, transformation: {crop: :fill}, :class => "avatar-profile" ) %>
      <% else %>
        <%= svg_icon('avatar', class: 'avatar-profile') %> <!-- ?? -->
      <% end %>
    </div>
    <h3 class="mt-3"><%= @profile.name %></h3>
    <p><%= @profile.bio %></p>
  </div>

  <% if @profile.user.id == current_user.id %>
    <%= button_to "Edit your profile", edit_profile_path(@profile), method: :get , class:"pri-btn"%>

    <div class="divider mt-4"></div>

    <p class="mt-2 p-2">If you want a better experience with H4y, please share some information about you so we can recommend you the best content we have :)</P>
    <% if @profile.user.health_datum.present? %>
      <%= button_to "Check your survey answers", health_datum_path(@profile.user.health_datum), method: :get , class:"sec-btn"%>
    <% else %>
      <%= button_to "Fill Survey Form", new_health_datum_path, method: :get , class:"sec-btn"%>
    <% end %>
  <% else %>
    <%= button_to "Check my posts", friend_posts_path(@profile.user.id), method: :get , class:"sec-btn"%>
  <% end %>
</div>
