<div class="container">
  <%= simple_form_for(health) do |f| %>
    <%= f.input :occupation, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :gender, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :country, as: :string, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :sleeping_hours, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :age, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :weight, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :height, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :bmi, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :sun_exposure, input_html: {class: "text-dark input-boxes"} %>
    <div class="form-switch">
      <%= f.input :self_employed, as: :boolean, input_html: {class: "form-switch", role: "switch"} %>
    </div>
    <%= f.input :smoker %>
    <%= f.input :alcohol_consumer %>
    <%= f.input :active %>
    <%= f.input :dairy_intake %>
    <%= f.button :submit, "Save your data", class: "sec-btn" %>
  <% end %>
</div>
