>
<div class="container" style="margin-bottom: 200px;">
  <%= simple_form_for(health) do |f| %>
    <%= f.input :occupation, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :gender, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :country, as: :string, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :sleeping_hours, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :age, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :weight, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :height, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :bmi, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :sun_exposure, input_html: {class: "text-dark input-boxes"} %>
    <div class="form-switch">
      <div class=" d-flex justify-content-end">
        <%= f.label :self_employed, class: "label-survey mb-3"  %>
        <%= f.input :self_employed, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
      </div>
    </div>
    <div class="form-switch">
      <div class=" d-flex justify-content-end">
      <%= f.label :smoker, class: "label-survey mb-3"  %>
      <%= f.input :smoker, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
    </div>
    </div>
    <div class="form-switch">
    <div class=" d-flex justify-content-end">
      <%= f.label :alcohol_consumer, class: "label-survey mb-3"  %>
      <%= f.input :alcohol_consumer, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
    </div>
    </div>
    <div class="form-switch">
    <div class=" d-flex justify-content-end">
      <%= f.label :active, class: "label-survey mb-3"  %>
      <%= f.input :active, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
    </div>
    </div>
    <div class="form-switch">
    <div class=" d-flex justify-content-end">
      <%= f.label :dairy_intake, class: "label-survey mb-3"  %>
      <%= f.input :dairy_intake, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
    </div>
    </div>
    <div class="button">
    <%= f.submit class: "btn survey-btn" %>
    </div>
    </div>
      <% end %>
  </div>

