<div class="container">
  <%= simple_form_for(health) do |f| %>
    <%= f.input :age, input_html: {class: "text-dark input-boxes input-card"} %>
    <%= f.input :weight, input_html: {class: "text-dark input-boxes input-card"} %>
    <%= f.input :height, input_html: {class: "text-dark input-boxes input-card"} %>
    <%= f.input :occupation, input_html: {class: "text-dark input-boxes"} %>
    <%= f.input :sleeping_hours, input_html: { value: health.sleeping_hours.to_i, class: "text-dark input-boxes input-card" } %>
    <%= f.input :gender, collection: HealthDatum.genders, input_html: { class: "text-dark input-boxes input-card" }, prompt: "Select Gender" %>
    <%= f.input :country, collection: HealthDatum.countries.sort, input_html: { class: "text-dark input-boxes input-card" }, prompt: "Select Gender" %>
    <%= f.input :days_indoors, collection: HealthDatum.indoors, input_html: { class: "text-dark input-boxes input-card" }, prompt: "Select Gender" %>

    <%# days_indoors %>
      <div class="divider"></div>

      <div class="form-switch">
        <div class=" d-flex justify-content-end">
          <%= f.label :self_employed, class: "label-survey"  %>
          <%= f.input :self_employed, as: :boolean, label: false, input_html: {class: "form-switch ", role: "switch"} %>
        </div>
      </div>

      <div class="divider"></div>

      <div class="form-switch">
        <div class="d-flex justify-content-end">
          <%= f.label :smoker, class: "label-survey"  %>
          <%= f.input :smoker, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
        </div>
      </div>

      <div class="divider"></div>

      <div class="form-switch">
        <div class=" d-flex justify-content-end">
          <%= f.label :alcohol_consumer, class: "label-survey"%>
          <%= f.input :alcohol_consumer, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
        </div>
      </div>

      <div class="divider"></div>

      <div class="form-switch">
        <div class=" d-flex justify-content-end">
          <%= f.label :active, class: "label-survey"%>
          <%= f.input :active, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
        </div>
      </div>

      <div class="divider"></div>

      <div class="form-switch">
        <div class=" d-flex justify-content-end">
          <%= f.label :dairy_intake, class: "label-survey"%>
          <%= f.input :dairy_intake, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
        </div>
      </div>

     <div class="divider"></div>

      <div class="form-switch">
        <div class=" d-flex justify-content-end">
          <%= f.label :sun_exposure, class: "label-survey"  %>
          <%= f.input :sun_exposure, as: :boolean, label: false, input_html: {class: "form-switch", role: "switch"} %>
        </div>
      </div>


     <div class="divider"></div>


      <div class="button">
        <%= f.submit class: "btn sec-btn" %>
      </div>
  <% end %>
</div>





<!-- SUSPENDED


      <div class="range-container">
        <label for="customRange3" class="form-label">Blood Pressure</label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
        <div class="range-labels">
          <span class="range-label low">Low</span>
          <span class="range-label normal">Normal</span>
          <span class="range-label high">High</span>
        </div>
      </div>



    <div class="activity-container">
      <div class="label-activity">
        <label class="form-label">Activity:</label>
      </div>
      <div class="form-radio-group d-flex justify-content-around">
        <div class="label-active">
        <input type="radio" id="activ" name="activity" value="option1">
        <label for="activ">Active</label>
        </div>
        <div class="label-sedentary">
        <input type="radio" id="sedentary" name="activity" value="option2">
        <label for="sedentary">Sedentary</label>
        </div>
      </div>
    </div>
