<p><%= @health.occupation %></p>
<p><%= @health.gender %></p>
<p><%= @health.country %></p>
<p><%= @health.sleeping_hours %></p>
<p><%= @health.age %></p>
<p><%= @health.weight %></p>
<p><%= @health.height %></p>
<p><%= @health.bmi %></p>
<p><%= @health.sun_exposure %></p>
<p><%= @health.self_employed %></p>
<p><%= @health.smoker %></p>
<p><%= @health.alcohol_consumer %></p>
<p><%= @health.active %></p>
<p><%= @health.dairy_intake %></p>
