<div class="header flex-row">
  <div class="left">
    <% if request.env['PATH_INFO'] == "/" %>


      <%= link_to profile_path(current_user.profile.id), class: "card-profile", style: "display: flex" do %>
        <div class="profile-pic">
          <%= image_tag "https://i.pinimg.com/564x/6a/ba/8b/6aba8b5c288c728568945c53625eba87.jpg", class: "avatar" %>
        </div>
        <p> <%= current_user.profile.name.capitalize %> </p>
      <% end %>
    <% else %>
      <div class="arrow">
        <%= link_to request.referrer do %>
          <%= svg_icon('Arrow - Left', class: 'custom-class') %>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- careful with how the urls are named -->
  <% if  ["/my_favorites", "/my_posts", "/posts/search", "/messages"].include?(request.env['PATH_INFO']) %>
    <div class="middle">
      <p><%= request.env['PATH_INFO'][1..-1].upcase %></p>
    </div>
  <% end %>

  <div class="right flex-row">
    <% if request.env['PATH_INFO'] == "/messages" %>
      <%= link_to "#" do %>
        <%= svg_icon('Search', class: 'custom-class') %>
      <% end %>
    <% elsif request.env['PATH_INFO'] == "/search" %>
      <%= link_to "#" do %>
        <%= svg_icon('Message - 5', class: 'custom-class') %>
      <% end %>
    <% else %>
      <%= link_to "#" do %>
        <%= svg_icon('Search', class: 'custom-class') %>
      <% end %>
      <%= link_to "#" do %>
        <%= svg_icon('Message - 5', class: 'custom-class') %>
      <% end %>
    <% end %>
  </div>
</div>
