<div class="header flex-row">
  <div class="left">
    <% if request.env['PATH_INFO'] == "/" %>

      <%= link_to profile_path(current_user.profile.id), class: "flex-row justify-content-between align-items-center" do %>
        <%= render "shared/avatar_header"%>
        <p class= "m-1" > <%= current_user.profile.name.nil? ? "" : current_user.profile.name.capitalize%> </p>
      <% end %>
    <% else %>
      <div class="arrow">
        <% if controller_name == "comments" && action_name == "index" %>
          <%= link_to post_path(@post) do %>
            <%= svg_icon('Arrow - Left', class: 'custom-class') %>
          <% end %>
        <% elsif controller_name == "health_data" && action_name == "show" %>
          <%= link_to profile_path(current_user.profile) do %>
            <%= svg_icon('Arrow - Left', class: 'custom-class') %>
          <% end %>
        <% elsif controller_name == "profiles" && action_name == "show" %>
          <%= link_to posts_path do %>
            <%= svg_icon('Arrow - Left', class: 'custom-class') %>
          <% end %>
        <% elsif controller_name == "searches" %>
          <%= link_to posts_path do %>
            <%= svg_icon('Arrow - Left', class: 'custom-class') %>
          <% end %>
        <% else %>
          <%= link_to request.referrer do %>
            <%= svg_icon('Arrow - Left', class: 'custom-class') %>
          <% end %>
        <% end %>

      </div>
    <% end %>
  </div>
  <!-- careful with how the urls are named -->
  <div class="middle">
    <%= "Saved" if controller_name == "posts" && action_name == "my_favorites" %>
    <%= "My Posts" if controller_name == "posts" && action_name == "my_posts" %>
    <%= "Create Post" if controller_name == "posts" && action_name == "new" %>
    <%= "Your profile" if controller_name == "profiles" && action_name == "show" %>
    <%= "Survey" if controller_name == "health_data" && action_name == "new" %>
  </div>

  <div class="right flex-row">
    <% if request.env['PATH_INFO'] == "/messages" %>
      <%= link_to "#" do %>
        <%= svg_icon('Search', class: 'custom-class') %>
      <% end %>
    <% elsif request.env['PATH_INFO'] == "/search" %>
      <%= link_to searches_path do %>
        <%= svg_icon('Message - 5', class: 'custom-class') %>
      <% end %>
    <% else %>
      <%= link_to searches_path do %>
        <%= svg_icon('Search', class: 'custom-class') %>
      <% end %>
      <%= link_to "#" do %>
        <%= svg_icon('Message - 5', class: 'custom-class') %>
      <% end %>
    <% end %>
  </div>
</div>
