<div class="container container-login">
<div class="text-center pt-3 text-light">
  <h1 class="font-tiny mb-5 display-1" >LOGIN</h1>
  <%= svg_icon('man', class: 'ps-5') %>
</div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-label-login form-inputs mt-2">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class:"input-card" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class:"input-card" } %>

    <div class="login-link mt-2 flex-row">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot password?", new_password_path(resource_name), input_html: {class:"mt-5" }%>
        <% end %>
    </div>

        <div class="form-actions mt-3">
          <%= f.button :submit, "Log in", class: "submit-button" %>
        </div>
        <% end %>

  <div class="login-link mt-3 flex-center-items ">
         <p>Don’t have an Account?</p>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name) %>
        <% end %>
  </div>
</div>
