<div class="search-page">
  <div class="header-search">
    <h1>Search</h1>
  </div>
  <div class="search-container">
    <%= form_with url: searches_path, method: :get, data: {controller: "live-search", turbo_frame: "search_results", turbo_action: "advance" }, local: true, class: 'search-form' do %>
      <div class="input-container">
        <%= text_field_tag :query, params[:query], placeholder: 'Input search', class: 'search-input', data: {action: "input->live-search#search"} %>
        <%= hidden_field_tag 'type', params[:type]  %>
        <%= submit_tag '', class: 'search-button' %>
      </div>
    <% end %>
  </div>

  <div class="tabs">
    <%= link_to 'Posts', searches_path(query: params[:query], type: 'posts'), class: "tab #{'active' if params[:type] == 'posts'}" %>
    <%= link_to 'Tags', searches_path(query: params[:query], type: 'tags'), class: "tab #{'active' if params[:type] == 'tags'}" %>
    <%= link_to 'Persons', searches_path(query: params[:query], type: 'profiles'), class: "tab #{'active' if params[:type] == 'profiles'}" %>
  </div>

  <div class="results-container">
    <%= turbo_frame_tag "search_results" do %>
      <%= render "partials_collected" %>
    <% end %>
  </div>
</div>
