<%= simple_form_for(post) do |f| %>
  <div data-controller="preview">
    <%= f.input :photos, as: :file, input_html: {
      data: {
        preview_target: "photo",
        action: "change->preview#displayPreview" },
        multiple: true,
        class:  'upload-img' } %>
      <!---------------------------------->

    <div>
      <div class="preview img-list-sm" data-preview-target="preview">
      </div>
    </div>
  </div>
      <!---------------------------------->
  <%= f.input :title, input_html: { class: 'input-card' }  %>
  <%= f.input :content, input_html: { class: 'input-card' }%>


<!--
  <%= f.association :tags, as: :check_boxes, collection: Tag.all %>

  <div class="form-group input-card">
    <%= f.label :new_tags, "New Tags (comma-separated)" %>
    <%= text_field_tag :new_tags, nil, class: 'form-control input-card' %>
  </div>
  <%= f.input :tags, collection: Tag.names, input_html: { class: "text-dark input-boxes" }, prompt: "Select Tag" %>


-->

<%#= f.input :tags, collection: Tag.all %>


<!-- Button trigger modal -->
<div data-controller="print-tags">
<div class="buttondiv " style="display:flex">
  <button type="button" class="sec-btn me-3">
    Recommend Tags
  </button>
  <button type="button" class="sec-btn ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Select Tags
  </button>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <%# <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> %>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= f.association :tags,
            as: :check_boxes,
            input_html: { class: "tag-selector" ,data: { "print-tags-target": 'tagCheckbox' }},
            item_wrapper_class: "tag-item",
            wrapper_html: { class: "tag-group" } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="pri-btn" data-bs-dismiss="modal" data-action="click->print-tags#select">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div data-print-tags-target="printHere" class="mt-3">
  </div>
  <div class="divider"></div>
</div>
  <%= f.submit class: "btn pri-btn mt-3" %>
<% end %>
