<div id=<%= "carouselExampleControls#{index}" %> class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag(post.photos.first.key, width: 400, height: 300, crop: :fill, class: "d-block w-100", alt: "Post Image") %>
    </div>
    <% post.photos.each_with_index do |photo, index| %>
      <% next if index == 0 %>

        <div class="carousel-item">
          <%= cl_image_tag(photo.key, width: 400, height: 300, crop: :fill, class: "d-block w-100", alt: "Post Image") %>
        </div>
    <% end %>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
