  <div class="post-card">
    <div class="card-header flex-row">
      <%= render "post_header", post: post %>
      <div class="date">
        <p>Date</p>
      </div>
    </div>

    <%= render "post_main_image", post: post %>

    <div class="action-buttons flex-row">
      <div class="actions flex-row">
        <%= link_to post_path(post, anchor: "anchor") do %>
          <%= svg_icon('Note', class: 'custom-class') %>
        <% end %>
        <%= link_to "#" do %>
          <%= svg_icon('Share', class: 'custom-class') %>
        <% end %>
        <%= link_to "#" do %>
          <%= svg_icon('Saved-post', class: 'custom-class') %>
        <% end %>

      </div>
      <div class="reviews flex-row">
        <%= link_to svg_icon('Like', class: 'custom-class'), click_like_path(post) %>
        <div class="like"> <%= post.reviews.where(rating: 1).count %> </div>
        <%= link_to svg_icon('dislike', class: 'custom-class'), click_dislike_path(post) %>
        <div class="dislike"> <%= post.reviews.where(rating: -1).count %> </div>
      </div>
    </div>

  <%= render "post_text", post: post %>
</div>
