<% image = "https://i.pinimg.com/564x/6a/ba/8b/6aba8b5c288c728568945c53625eba87.jpg" %>

<% unless request.env['PATH_INFO'].match(%r{^/posts/\d+$}) %>
  <%= link_to post_path(post), class: "card-profile flex-row" do %>
    <div class="profile-pic">
      <%= image_tag image, class: "avatar" %>
    </div>
  <p>  <%= post.user.profile.name.capitalize %>  </p>
  <% end %>
<% else %>
  <div class="card-profile flex-row">
    <div class="profile-pic">
      <%= image_tag image, class: "avatar" %>
    </div>
    <p>  <%= post.user.profile.name.capitalize %>  </p>
  </div>
<% end %>
