<% unless request.env['PATH_INFO'].match(%r{^/posts/\d+$}) %>
  <%= link_to post_path(post), class: "post-content" do %>
    <strong><%= post.title %></strong>
    <div class="tags flex-row">
      <p>!tag1</p>
      <p>!tag2</p>
      <p>!tag3</p>
    </div>
    <% if request.env['PATH_INFO'] == "/posts"  %>
      <%= post.content[..100] %>...
    <% else %>
      <%= post.content %>...
    <% end %>
  <% end %>
<% else %>
  <div class="post-content">
    <strong><%= post.title %></strong>
    <div class="tags flex-row">
      <p>!tag1</p>
      <p>!tag2</p>
      <p>!tag3</p>
    </div>
    <% if request.env['PATH_INFO'] == "/posts"  %>
      <%= post.content[..100] %>...
    <% else %>
      <%= post.content %>...
    <% end %>
  </div>
<% end %>
