<% unless request.env['PATH_INFO'].match(%r{^/posts/\d+$}) %>
  <div class="post-content">
    <%= link_to post_path(post), class: "title" do %>
      <%= post.title %>
    <% end %>

    <div class="tags flex-wrap align-content-start">
      <% post.tags.each do |tag| %>
        <%= link_to "!#{tag.name}", tag_search_path(tag: tag), class: "#{'active' if params[:type] == 'tags'}" %>
      <% end %>
    </div>

    <%= link_to post_path(post), class: "description" do %>
        <% if post.content.length > 80 %>
          <%= post.content[0..80] %>...
        <% else %>
          <%= post.content[0..80] %>
        <% end  %>
    <% end %>
  </div>

<% else %>
  <div class="post-content">
    <div class="title">
      <%= post.title %>
    </div>

    <div class="tags flex-wrap align-content-start">
      <% post.tags.each do |tag| %>
        <%= link_to "!#{tag.name}", tag_search_path(tag: tag), class: "#{'active' if params[:type] == 'tags'}" %>
      <% end %>
    </div>

    <div class="description">
      <%= post.content %>
    </div>
  </div>
<% end %>
