<div class="container">
    <%= render "post_card", post: @post %>

  <% @post.comments.each do |comment| %>
    <%= render "comments", comment: comment %>
  <% end %>

  <h4>Add your comment</h4>
  <%= simple_form_for([@post, @comment]) do |f| %>
    <%= f.input :content, input_html: { id: 'anchor' } %>
    <%= f.submit class: "btn btn-secondary" %>
  <% end %>

</div>




<% # i like this - so toggle something green,
#liek/disliek div now clickable
# click like div make review; if exist cliick dislike change rating vlaue %>
