<div class="container">
  <h2><%= @post.title %> --- <%= @post.user.profile.name.capitalize %></h2>
  <p><%= @post.content %></p>


  <div>
    <%  likes = @post.reviews.where(rating: 1).count%>
    <%  dislikes = @post.reviews.where(rating: -1).count%>
    <p style="<%= 'color: green;' if @post.reviews.where(user_id: current_user.id).where(rating: 1).first %>">
    likes: <%= likes %>
    </p>
    <p style="<%= 'color: red;' if @post.reviews.where(user_id: current_user.id).where(rating: -1).first %>">
    dislikes: <%= dislikes %>
    </p>
  </div>

<%= link_to "Like Button", click_like_path(@post) %>
<%= link_to "Dislike Button", click_dislike_path(@post) %>


  <h5>comments:</h5>
  <% @post.comments.each do |comment| %>
    <div class="card">
      <h5><%= comment.user.profile.name.capitalize %></h5>
      <p><%= comment.content %></p>

    </div>
  <% end %>

  <h4>new comment</h4>
  <%= simple_form_for([@post, @comment]) do |f| %>
    <%= f.input :content %>
    <%= f.submit class: "btn btn-secondary" %>
  <% end %>

</div>




<% # i like this - so toggle something green,
#liek/disliek div now clickable
# click like div make review; if exist cliick dislike change rating vlaue %>
