<div class="container">
    <%= render "post_card", post: @post %>

  <h5>comments:</h5>
  <% @post.comments.each do |comment| %>
    <div class="card">
      <h5><%= comment.user.profile.name.capitalize %></h5>
      <p><%= comment.content %></p>

    </div>
  <% end %>

  <h4>new comment</h4>
  <%= simple_form_for([@post, @comment]) do |f| %>
    <%= f.input :content, input_html: { id: 'anchor' } %>
    <%= f.submit class: "btn btn-secondary" %>
  <% end %>

</div>




<% # i like this - so toggle something green,
#liek/disliek div now clickable
# click like div make review; if exist cliick dislike change rating vlaue %>
