<!DOCTYPE html>
<html>
  <head>
    <title>H4y</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="page-container">
    <div class="navbar-container"><%= render "shared/header" %>
     <% if controller_name == 'profiles' %>
        <%= render 'shared/message_footer' %>
        <% else %>
        <%= render 'shared/footer' %>
        <% end %>

    </div>
     <!-- <div class="flashes-container"><%= render "shared/flashes" %></div> -->
    <div class="content-container"><%= yield %></div>
    <div class="footer-container">
        <% if controller_name == 'messages' || controller_name == 'comments' %>
        <%= render 'shared/message_footer' %>
        <% else %>
        <%= render 'shared/footer' %>
        <% end %>
    </div>
    </div>
  </body>
</html>
