<!DOCTYPE html>
<html>
  <head>
    <title>H4y</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
    <div class="page-container">
      <% unless controller_name = "devise" %>
        <div class="navbar-container"><%= render "shared/header" %></div>
        <div class="flashes-container"><%= render "shared/flashes" %></div>
      <% end %>
      <div class="content-container"><%= yield %></div>
      <% unless controller_name = "devise" %>
        <div class="footer-container">
            <% if controller_name == 'messages' || controller_name == 'comments' %>
            <%= render 'shared/message_footer' %>
            <% else %>
            <%= render 'shared/footer' %>
            <% end %>
        </div>
      <% end %>
    </div>
=======
    <%= render "shared/header", route_prefix: @route_prefix %>
    <%= render "shared/flashes" %></div>
    <%= yield %>
    <% if controller_name == 'messages' || controller_name == 'comments' %>
    <%= render 'shared/message_footer' %>
    <% else %>
    <%= render 'shared/footer' %>
    <% end %>
>>>>>>> master
  </body>
</html>
