<!DOCTYPE html>
<html>
  <head>
    <title>H4y</title>
    <%# PWA - For mobile view MUST BE ON THE TOP!!%>
      <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <%= render 'shared/ios_pwa_links' %>
    <%#  %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header", route_prefix: @route_prefix %>
    <%= render "shared/flashes" %></div>
    <%= yield %>
    <% if controller_name == 'comments' %>
      <%= render 'shared/message_footer' %>
    <% else %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
